/* This defines styles and classes used in the book */
body {
    margin-left: 5%; 
    margin-right: 5%; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    text-align: justify; font-size: medium; 
}
p {
    text-indent: 1.25em;
    margin:0;
}
code { 
    font-family: monospace;
    margin-top: 2em;
    margin-bottem: 2em;
}
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
#cover-image img {
    width: 100%;
}